host=localhost
port=11617
user=jqpublic
password=password
prefix=Test01
addresses=kvdPDVw6T6ws8N2fAZiaFMHsJLXWDXtHiq
fundingStrategy=oldest
fundingFile=rationalize_input.csv
output=rationalize_output.csv